<div class="containerH">
    <div class="section">
        
        <div class="textSection">
            <h2 class="titleSection">
                ¡Realiza tu reserva en el mejor Hotel de la zona!
            </h2>
            <p class="text">Con una historia rica y un compromiso con la excelencia, el Hotel Hades es un oasis en el corazón de Liberia, Guanacaste. Administrado por un equipo de profesionales dedicados, el Hotel Hades ofrece una experiencia inigualable con programas excepcionales de hospitalidad, gastronomía y actividades recreativas. Nuestro enfoque en el servicio al cliente, la comodidad y el disfrute hace de cada estancia una experiencia memorable. Además, promovemos la sostenibilidad y la preservación del entorno local, integrando prácticas ecológicas en todas nuestras operaciones.</p>
        </div>
    </div>

    <div class="section">
        <div class="textSection">
            <h2 class="titleSection">
                Programa de Sostenibilidad Global de la organización internacional EarthCheck
            </h2>
            <p class="text">
                En 2022, el Hotel Hades recibió una prestigiosa certificación del “Programa de Sostenibilidad Global de la organización internacional EarthCheck”, que reconoce su compromiso con la sostenibilidad y la responsabilidad ambiental. Tras superar un riguroso proceso de auditoría externa, el Hotel Hades, ubicado en Liberia, Guanacaste, se hizo acreedor del sello de aprobación “EarthCheck CertifiedTM”. Este logro convierte al Hotel Hades en uno de los pocos establecimientos en la región que han alcanzado esta distinción, uniéndose a un grupo selecto de hoteles a nivel mundial que han demostrado un desempeño sobresaliente en prácticas sostenibles y ecológicas.
            </p>
        </div>
        <div class="imageSection">
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/3/3b/EC_large_Word.png" alt="">
        </div>
    </div>

    <div class="section">
        <div class="imageSection">
            <img class="image" src="https://cdn0.ecologiaverde.com/es/posts/3/9/0/la_contaminacion_en_costa_rica_93_600.jpg" alt="">
        </div>
        <div class="textSection">
            <h2 class="titleSection">
                Iniciativas Medioambientales y de Conservación en el Hotel Hades
            </h2>
            <p class="text">
                El Hotel Hades se dedica a la conservación y restauración de los ecosistemas locales mediante la implementación de diversas iniciativas medioambientales.

                Se ha desarrollado un plan integral para preservar y promover la biodiversidad autóctona de Guanacaste. Este plan incluye la creación y mantenimiento de jardines con especies nativas, contribuyendo a la conservación de la flora local.
                
                El hotel también se compromete a la salud y seguridad del entorno, realizando inspecciones regulares de los árboles y otras plantas para asegurar su sanidad y prevenir riesgos. Además, el personal del hotel se encarga del mantenimiento continuo de las áreas verdes, garantizando que los jardines y espacios naturales estén en óptimas condiciones.
                
                Para fomentar la educación ambiental entre sus huéspedes y la comunidad, el Hotel Hades organiza talleres y exposiciones sobre el manejo sostenible de plantas y jardines. También participa en programas de recolección de semillas, colaborando con iniciativas locales para la propagación de especies nativas en distintas regiones de Costa Rica.
            </p>
        </div>
    </div>

</div>
